.barcode{
  font-family: 'Libre Barcode 39 Text', cursive;
  font-size: 100px;
}

body, html {
  display: grid;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
}

.input {
  position: relative;
  top: 5%;
}